.pagination__table {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 25px;
  margin-top: 20px;
  width: 140px;
}

.pagination__item:first-child {
  color: #4EA8DE;
}
.pagination__item:last-child {
  color: #5E60CE;
}

.pagination__item {
  font-weight: 900;
  cursor: pointer;
}

.pagination__item:hover {
  opacity: 0.85;
}

.pagination__item:active {
  transform: scale(0.9);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

